.container__main {
    margin: 0 auto;
    color: red;
    display: flex;
    flex-direction: column;
    text-align: left; /* Alinea todo el contenido a la izquierda */
    }
    .container__img {
    text-align: left; /* Alinea la imagen hacia la izquierda */
   
    /* Nuevas propiedades o modificaciones */
    max-width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor sin excederlo */
    display: block; /* Elimina el espacio extra que a veces se genera al alinear la imagen al centro */
}
    .container__title,
    .container__subtitle,
    .container__button {
      margin: 5px;
      padding: 10px;
      border: 1px solid #ddd;
    }

    .container__button {
    margin: 0;
    display: flex;
    justify-content: flex-start; /* Alinea el contenido al principio (izquierda) */
    margin-top: 70px;
    }
    .button{
      width:120px;
      height:30px;
    }
    .img {
    height: 80px; /* Manteniendo la altura a 200px según tu código original */
    width: 80px;
    }