.title {
    display: flex;
    justify-content: center;
    background-color: rgb(112, 124, 145);
    font-size: 25px;
}
.mainContainer{
    background-color: rgb(175, 179, 213);
    width: 800px;
    height: 350px;
    margin: 25px, 25px, 25px, 25px;
    padding: 25px,25px, 25px, 25px;
}
.description {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.flexStart {
    display: flex;
    justify-content: flex-start;
}
.flexEnd {
    display: flex;
    justify-content: flex-end;
}
.flexCenter {
    display: flex;
    justify-content: center;
}
.spaceAround {
    display: flex;
    justify-content: space-around;
}
.spaceBetween {
    display: flex;
    justify-content: space-between;
}
.alignItemsFlexEnd{
    display: flex;
    align-items: flex-end;
    width: 100px;
    height: 100px;
    background-color: beige;
}
.JusContAligItm {
    display: flex;
    justify-content: center;
    align-items: center;
}
.JusContAligItm {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.flexDirectionRowReverse {
    display: flex;
    flex-direction: row-reverse;
}

